{% extends "base.html" %}

{% block title %} Ordenados por commit {% endblock %}

{% block commit-active %}class="active"{% endblock commit-active %}

{% block navbar-brand %}
	<a class="navbar-brand" href="{% url 'order_by_date' %}">Ordenados por commit</a>
{% endblock navbar-brand %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Listado de repositorios</h4>
                        <p class="category">Organización githubtraining</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-striped">
                            <thead>
                                <th>GitHub ID</th>
                            	<th>Nombre</th>
                                <th>Último commit</th>
                                <th>Fecha commit</th>
                            	<th>Fecha creación</th>
                            </thead>
                            <tbody>
                                
                                {% for item in repoItem reversed %}
                                <tr>
	                                <td>{{ item.id }}</td>
	                                <td><a href="{{ item.html_url }}">{{ item.name }}</a></td>
                                    <td><a href="{{ item.commit_url }}">{{ item.sha }}</td>
                                    <td>{{ item.date_commit }}</td>
	                                <td>{{ item.created_at }}</td>
                                </tr>
								{% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}